<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= categoryPagesTitle.prefix %><%= category.categoryName %><%= categoryPagesTitle.suffix %></title>
    <%- include('/head.ejs') %>
</head>
<body>
    <%- include("/header.ejs") %>
    <main>
        <h1><%= category.categoryName %></h1>
        
        <ul>
            <% category.pages.forEach(function(page) { %>
                <li><a href="<%= page.slug %>"><%= page.pageTitle %></a></li>
            <% }); %>
        </ul>
        
        <p><a href="/">Back to Home</a></p>
    </main>
    <%- include("/footer.ejs") %>
</body>
</html>