<header>
    <div class="logo"><a href="<%= logoLink %>"><img src="<%= logoImgUrl %>" /></a></div>
    <nav>
        <a href="<%= homeLink %>">Home</a>
    </nav>
    <a class="grow-btn" href="<%= ctaLink %>"><%= ctaText %></a>
</header>